.container {
    width: 100%;
    text-align: left;
    color: #fff;
}

.panel.panel-default {
    background: rgb(31, 31, 31); /* Fall-back for browsers that don't support rgba */
    background: rgba(21, 21, 21, .70);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .5);
    width: 75%;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}

.panel-heading,
.panel > .panel-heading {
    color: white;
    border: 0px solid #2a6598;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: rgb(12, 12, 12); /* Fall-back for browsers that don't support rgba */
    background: rgba(21, 21, 21, 0.75);
}

.panel-default {
    border-color: #252831;
    background-color: #252831;
    color: #fff;
    width: 100%;
}

.wrapper {
    margin-left: 10px;
    margin-right: 10px;
}

.content {
    /*background-color: #252831;*/
    float: right;
    width: 100%;
}

.cleared {
    clear: both;
}

.input-group-sm{
    margin-left: 3px;
}

a {
    color: #45acff;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}


.form-control {
    background-color: rgba(35, 35, 35, 1);
    color: #fff;
    border-color: #111111;
    outline: none;
    margin-top: 3px;
    margin-bottom: 3px;
}

.form-control:hover {
    border-color: #4cb5ba;
    background-color: rgba(35, 35, 35, 1);
}

.form-control:active{
    border-color: #4cb5ba;
    background-color: rgba(35, 35, 35, 1);
}

.form-control:focus{
    border-color: #4cb5ba;
    background-color: rgba(35, 35, 35, 1);
}

input:-webkit-autofill {
    outline: none;
    -webkit-box-shadow: 0 0 0px 1000px rgba(35, 35, 35, 1) inset;
    -webkit-text-fill-color: #fff !important;
    border-color: #4b4b4b;

}

input:-webkit-autofill:focus {
    outline: none;
    -webkit-box-shadow: 0 0 0px 1000px rgba(35, 35, 35, 1) inset;
    -webkit-text-fill-color: #fff !important;
    border-color: #439094;
}

input:-webkit-autofill:hover {
    outline: none;
    -webkit-box-shadow: 0 0 0px 1000px rgba(35, 35, 35, 1) inset;
    -webkit-text-fill-color: #fff !important;
    border-color: #439094;
}

input:-webkit-autofill:active {
    outline: none;
    -webkit-box-shadow: 0 0 0px 1000px rgba(35, 35, 35, 1) inset;
    -webkit-text-fill-color: #fff !important;
    border-color: #439094;
}

.col-centered{
    margin: 0 auto;
    float: none;
    width: 300px;
}

@media (max-width: 768px) {
    .col-centered {
        margin: 0 auto;
        width: 70%;
    }
}