.container {
    width: 100%;
    text-align: left;
    color: #fff;
}

.panel.panel-default {
    background: rgb(31, 31, 31); /* Fall-back for browsers that don't support rgba */
    background: rgba(21, 21, 21, .70);
    border-radius: 10px;
    border: 2px solid inherit;
}

.panel-heading,
.panel > .panel-heading {
    color: white;
    border: 0px solid #2a6598;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: rgb(12, 12, 12); /* Fall-back for browsers that don't support rgba */
    background: rgba(21, 21, 21, 0.75);
}

.panel-default {
    border-color: #252831;
    background-color: #252831;
    color: #fff;
    width: 100%;
}

.wrapper {
    margin-left: 10px;
    margin-right: 10px;
}

.content {
    /*background-color: #252831;*/
    float: right;
    width: 100%;
}

.cleared {
    clear: both;
}

.input-group-sm{
    margin-left: 3px;
}

a {
    color: #45acff;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}