.navbar-default {
    background: rgb(63, 76, 107); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(51, 122, 183) 0%, rgba(63, 76, 107, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgb(51, 122, 183) 0%, rgba(63, 76, 107, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgb(51, 122, 183) 0%, rgba(63, 76, 107, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#337AB7', endColorstr='#3F4C6B', GradientType=0); /* IE6-9 */
    border-color: #252831;
    border-radius: 0;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5afaff;
}

.navbar-default .navbar-text {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #5afaff;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
    background: inherit;
    color: white;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #00ccff;
    border-color: #00b6ff;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #5afaff;
    background-color: #000000;
    color: white;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #000000;
}

.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #5afaff;
    background-color: #000000;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #5afaff;
    background-color: #252831;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #5afaff;
    background-color: #252831;
}

.navbar-default .navbar-toggle {
    border-color: #252831;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #252831;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #00ccff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #00ccff;
}

.navbar-default .navbar-link {
    color: #00ccff;
}

.navbar-default .navbar-link:hover {
    color: #5afaff;
}