.navbar-default {
    background: rgb(12, 12, 12); /* Fall-back for browsers that don't support rgba */
    background: rgba(21, 21, 21, 0.75);
    border: 2px;
    border-bottom-color: #000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5afaff;
}

.navbar-default .navbar-text {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #5afaff;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
    background: inherit;
    color: white;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #00ccff;
    border-color: #00b6ff;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    background-color: #000000;
    color: white;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #000000;
}

.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #5afaff;
    background-color: #000000;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #5afaff;
    background-color: rgb(69, 69, 69);
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #5afaff;
    background-color: #000000;
}

.navbar-default .navbar-toggle {
    background-color: #000000;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #000000;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #00ccff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #00ccff;
}

.navbar-default .navbar-link {
    color: #00ccff;
}

.navbar-default .navbar-link:hover {
    color: #5afaff;
}

@media (max-width: 768px) {
    #bs-example-navbar-collapse-1 {
        background-color: #000000;
        border-color: #000000;
    }
}